.login-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.login-card {
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h1 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.error {
  color: #c62828;
  text-align: center;
}
