@use 'styles/theme' as *;
@use '@angular/material' as mat;

@include mat.core(); // wymagane, ładuje bazowe style

// Light theme domyślny
@include mat.all-component-themes($light-theme);

// Dark theme w klasie
.dark-theme {
  @include mat.all-component-themes($dark-theme);
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
