.wide {
  width: 100%;
  margin-bottom: 16px;
}

.triage-box {
  background: #f3f3f3;
  padding: 12px;
  border-radius: 6px;
  margin-top: 20px;
}

.form-buttons-container{
  display: flex;
  justify-content: space-between;
}
